.main-filter-cont{
    padding-top: 12px;
    margin-bottom:16px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width:calc(100% + 18px);
    border-bottom:1px solid #c9cbcd;
    padding-bottom:12px;
    padding-right:18px;
    margin-left:-18px;
    @include respond(md){
            width:calc(100% - 10px);
           align-items: flex-start; 
           margin-left:-8px;
           padding-left:10px;
        }
    .main-filter{
        text-align: left;
        
        .filter-label{
            font-weight: bold;
        }
}
}