body{
  background-color:#F0F0F0;
}

#root {
  margin: 0 auto;
  text-align: center;
  box-shadow: #00000026 0 4px 15px;
  max-width: 1480px;
  
}

.main-app-cont{
  
  background-color: #fff;
  padding-left: 8px;
  padding-right:8px;
  
  margin: 0 auto;
}