#root {
  margin: 0 auto;
  text-align: center;
  box-shadow: #00000026 0 4px 15px;
  max-width: 1532px;
  /
}

.main-app-cont{
  
  background-color: #fff;
  padding-left: 18px;
  padding-right:18px;
  
  margin: 0 auto;
}