.main-footer{
     height:64px;
    border-top:1px solid #c9cbcd;
    width:100%;
    line-height: 64px;
    text-align: center;
    color:#474749;
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
}