.qb-image-cont{
    display: flex;
    margin: 0 auto;
    margin-top:32px;
    margin-bottom:64px;
    // background-color: rgb(215, 215, 215);
    //border-top:1px solid rgb(215, 215, 215);
    border-bottom:1px solid rgb(215, 215, 215);
    padding-left:32px;
    padding-right:32px;
    padding-bottom:16px;
    padding-top:16px;
    // border-radius: 10px;
    justify-content: center;
    .qb-name-main{
        color:black;
        font-weight: bold;
        font-size: 36px;
        display: grid;
        text-align: left;
        .qb-image-stats{
            font-weight: 200;
            font-size: 18px;
            .stat-title-image{
                font-weight: bold;
            }
        }
    }
}