.qb-image-cont{
    display: flex;
    margin: 0 auto;
    margin-top:32px;
    margin-bottom:64px;
    border-bottom:1px solid rgb(215, 215, 215);
    padding-left:32px;
    padding-right:32px;
    padding-bottom:16px;
    padding-top:16px;
    @include respond(sm){
            font-size: 26px;
            padding-left:6px;
            padding-right:6px;
        }
    justify-content: center;
    .qb-name-main{
        color:black;
        font-weight: bold;
        font-size: 36px;
        display: grid;
        text-align: left;
        @include respond(sm){
            font-size: 32px;
        }
        .qb-image-stats{
            font-weight: 200;
            font-size: 18px;
            .stat-title-image{
                font-weight: bold;
            }
        }
    }
}