.component-title-cont{
   width:90%;
   margin-bottom:76px;
   text-align: center;

   @include respond(lg){
    width:100%;
   }
    
.component-title-title{
    display: inline-block;
        font-weight: bold;
    font-size:24px;
    border-bottom: 1px solid #c9cbcd;
    margin-bottom: 8px;
     text-align: left;
    width:100%;
    
    padding-bottom:8px;
    }
}