.main-header{
    height:64px;
    border-bottom:1px solid #c9cbcd;
    width:calc(100% - 24px);
    font-weight:500;
    font-size: 36px;
    line-height: 64px;
    
    text-align: left;
    padding-left:24px;
    color:#474749;
    background-color: #fff;

    @include respond(md){
            height:44px;
            font-size: 24px;
            line-height: 44px;
            padding-left:12px;
            width:calc(100% - 12px);
        }

    .header-text-sz-lg{
        @include respond(md){
            display:none;
        }
    }

    .header-text-sz-sm{
        display: none;
        @include respond(md){
            display:inline-block;
        }
    }
}