.main-header{
    height:64px;
    border-bottom:1px solid #c9cbcd;
    width:100%;
    font-weight:500;
    font-size: 36px;
    line-height: 64px;
    margin-bottom: 64px;
    text-align: left;
    padding-left:24px;
    color:#474749;
}