.table-title{
    text-align: left;
    width:100%;
    display: inline-block;
    padding-bottom:8px;
    font-weight: bold;
    font-size:24px;
    border-bottom: 1px solid #c9cbcd;

    margin-bottom: 8px;
}